<div id="block-adminallcourses">
    <div class="container-fluid p-0">
        <div class="card-deck dashboard-card-deck overflow-hidden" data-region="card-deck" role="list">
            {{#courses}}
                {{> block_adminallcourses/course-card }}
            {{/courses}}
        </div>
    </div>
</div>